*{
    padding:0px;
    margin:0px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: right;
    margin-top:100px;
}

.values p{
    margin:2px 0px; 
}

.rank-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    width: 100px;
}