*{
    padding:0px;
    margin:0px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.values{
    position: relative;
    text-align: right;
    top:150px;
    left:100px;
}

.values p{
    margin:2px 0px; 
}

.rank-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    width: 100px;
}

@media screen and (max-width:950px){
    .content{
        justify-content:space-between
    }
}

@media screen and (max-width:680px){
    .values{
        left: 0;
    }
}

@media screen and (max-width:680px){
    .values{
        top: 20px;
    }
    .content > *{
        margin: auto;
    }
}